* {
    margin: 0;
    padding: 0;
    user-select: none;
}

$yellow-title: #fae497;
$pink-cloud: #f9dbcf;
$eraser-color: #4d7699;
$teal-border: #6ec0c7;
$light-blue: #a8d6d7;

@font-face {
   font-family: 'Supersonic Rocketship';
   src: url("fonts/Supersonic_Rocketship.ttf") format("truetype");
}

@font-face {
   font-family: 'Eraser';
   src: url("fonts/Eraser.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


h1, h2 {
    color: $yellow-title;
    text-shadow: 
        2px -.5px darken($color: $yellow-title, $amount: 15),
        1px 1px 10px #fff, 1px 1px 10px #ccc;
    font-family: 'Supersonic Rocketship';
}

h1 {
    font-size: 2.3rem;
}
h2{
    font-size: 1.7rem;
}

.eraser {
    color: $eraser-color;
    font-family: 'Eraser';
    font-size: 1.2rem;
    line-height: 2rem;
}

.divider {
    height: 5px;
    width: 100%;
    background-color: #606060;
    padding: 0 !important;
}

body {
    background-color: $light-blue;
}
#mobile-body-wrapper {
    overflow-x: hidden;
}

.header-wrapper {
    position: relative;

    
    &::after{
        content: '';
        width: 100%;
        height: 500px;
        position: absolute;
        bottom: 55px;
        left: 0;
        background: url('../assets/nube_rosa.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        z-index: 1;
        -webkit-filter: drop-shadow( 0px -0px 10px #444 );
        filter: drop-shadow( 0px -0px 10px #444 );
    }

}

header {
    text-align: center;

    display: flex;
    flex-direction: column;



    >div{
        padding: 1rem;
    }

    height: 100vh;

    #portada{
        // margin: 1.4rem;
        margin-bottom: 2rem;

        p {
            margin-bottom: 2rem;
        }

        z-index: 0;
    }

    .icons {
        margin-top: auto;
        display: grid;
        grid-template-columns: 90px auto;
        grid-template-rows: 20px auto;
        text-align: left;
        max-width: 100%;
        background-color: $pink-cloud;

        font-family: 'Eraser';
        font-size: .8rem;

        z-index: 2;
        img {
            height: 25px;
            width: auto;
        }

        @media (max-width: 500px) {
            .logo_banda {
                margin-top: 5px;
                height: 60px;
            }
        }

        .colabora{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            img {
                margin-bottom: 10px;
            }
        }

        
    }
}


main>div {
    padding: 1rem;
}


#programa {
    .obra h3{
        @extend .eraser;
        font-size: 1.3rem;
        display: inline;
    }
    .any {
        float: right;
    }
    .narrador {
        display: inline;
        margin-left: 10px;
    }
    .duracio {
        font-family: 'Poiret One', cursive;
        padding-left: .5rem;
        margin-top: .2rem;
    }
            
    ul {
        list-style: none;
        li {
            margin: 15px 0;
        }
    }


    .short-description {
        font-family: 'Poiret One', cursive;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
        padding-left: .5rem;
    }
}

#director {
    p {
        font-family: 'Poiret One', cursive;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: black;
        line-height: 1.7rem;
        margin-bottom: .8rem;
    }
}

#banda {
    
    img {
        width: 90%;
        border: 10px solid $teal-border;
        outline: 10px solid $pink-cloud;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
    }

        p {
        font-family: 'Poiret One', cursive;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: black;
        line-height: 1.7rem;
        margin-bottom: .8rem;
    }
}

footer {
    background-color: $pink-cloud;
    height: 100vh;
    overflow: hidden;

    position: relative;

    .large {
        font-size: 3rem;
        padding: 1rem;
        font-family: 'Poiret One', cursive;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    .nube-azul {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 100%;
        -webkit-filter: drop-shadow( 0px -0px 10px #444 );
        filter: drop-shadow( 0px -0px 10px #444 );
    }

    .nube-naranja {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        -webkit-filter: drop-shadow( 0px -0px 10px #444 );
        filter: drop-shadow( 0px -0px 10px #444 );
    }

    @keyframes floating-negative { 
        0% { transform: translate(0,  0px); } 
        50%  { transform: translate(0, -15px); } 
        100%   { transform: translate(0, -0px); }     
    }

    @keyframes floating-positive { 
        0% { transform: translate(0,  0px); } 
        50%  { transform: translate(0, 15px); } 
        100%   { transform: translate(0, -0px); }     
    } 

    .ilustracion {
        -webkit-filter: drop-shadow( 0px -0px 5px #222 );
        filter: drop-shadow( 0px -0px 5px #222 );
        animation: floating-positive 3s ease-in-out infinite
    }

    .peer-gynt {
        position: absolute;
        bottom: 25px;
        left: 160px;
        width: 35%;
        rotate: 10deg;
        animation: floating-positive 3s ease-in-out infinite
    }
    .quijote {
        position: absolute;
        bottom: 350px;
        left: 30px;
        width: 35%;
        rotate: 90deg;
        animation: floating-negative 3s ease-in-out infinite
    }
    .quijote2 {
        position: absolute;
        bottom: 125px;
        left: 50px;
        width: 35%;
        rotate: 10deg;
        animation: floating-negative 3s ease-in-out infinite
    }
    .rapunzel {
        position: absolute;
        bottom: 280px;
        left: 230px;
        width: 25%;
        rotate: -5deg;
        animation: floating-negative 3s ease-in-out infinite
    }
}