@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: 'Supersonic Rocketship';
  src: url("fonts/Supersonic_Rocketship.ttf") format("truetype");
}

@font-face {
  font-family: 'Eraser';
  src: url("fonts/chawp.ttf") format("truetype");
}

h1, h2 {
  color: #fae497;
  text-shadow: 2px -0.5px #c8b679, 1px 1px #e1cd88;
  font-family: 'Supersonic Rocketship';
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}

.eraser, #programa .obra h3 {
  color: #4d7699;
  font-family: 'Eraser';
  font-size: 1.2rem;
  line-height: 2rem;
}

.divider {
  height: 5px;
  width: 100%;
  background-color: #3d5e7b;
  padding: 0 !important;
}

body {
  background-color: #a8d6d7;
}

#mobile-body-wrapper {
  overflow-x: hidden;
}

.header-wrapper {
  position: relative;
}

.header-wrapper::after {
  content: '';
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 55px;
  left: 0;
  background: url("../assets/nube_rosa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  z-index: 1;
  -webkit-filter: drop-shadow(3px 2px 0px #e0c5ba);
  filter: drop-shadow(3px 2px 0px #e0c5ba);
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

header > div {
  padding: 1rem;
}

header #portada {
  margin-bottom: 2rem;
  z-index: 0;
}

header #portada p {
  margin-bottom: 2rem;
}

header #portada img {
  -webkit-filter: drop-shadow(0px 5px 7px #3d5e7b);
  filter: drop-shadow(0px 5px 7px #3d5e7b);
}

header .icons {
  margin-top: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px auto;
      grid-template-columns: 90px auto;
  -ms-grid-rows: 20px auto;
      grid-template-rows: 20px auto;
  text-align: left;
  max-width: 100%;
  background-color: #f9dbcf;
  font-family: 'Eraser';
  font-size: .8rem;
  z-index: 2;
}

header .icons img {
  height: 25px;
  width: auto;
}

@media (max-width: 500px) {
  header .icons .logo_banda {
    margin-top: 5px;
    height: 60px;
  }
}

header .icons .colabora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .icons .colabora img {
  margin-bottom: 10px;
}

main > section {
  padding: 1rem;
}

main h2 {
  margin-bottom: 1.2rem !important;
}

#programa .obra h3 {
  font-size: 1.3rem;
  display: inline;
  padding: .3rem;
  line-height: 2.6rem;
}

#programa .any {
  float: right;
}

#programa .narrador {
  display: inline;
  margin-left: 10px;
  color: #f9dbcf;
  background-color: #4d7699;
  padding: .2rem .4rem;
  border-radius: 4px;
}

#programa .duracio {
  font-family: 'Poiret One', cursive;
  padding-left: .5rem;
  margin-top: .2rem;
}

#programa ul {
  list-style: none;
}

#programa ul li {
  margin: 1.2rem 0;
}

#programa .short-description {
  font-family: 'Poiret One', cursive;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #35536c;
  padding-left: .5rem;
}

#director p {
  font-family: 'Poiret One', cursive;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #35536c;
  line-height: 1.7rem;
  margin-bottom: .8rem;
}

#banda img {
  width: 90%;
  border: 10px solid #6ec0c7;
  outline: 10px solid #f9dbcf;
  margin: 0 auto;
  display: block;
  margin-top: calc(1rem + 10px);
  margin-bottom: 1.3rem;
}

#banda p {
  font-family: 'Poiret One', cursive;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #35536c;
  line-height: 1.7rem;
  margin-bottom: .8rem;
}

footer {
  background-color: #f9dbcf;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

footer .large {
  font-size: 3rem;
  padding: 1rem;
  font-family: 'Poiret One', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #35536c;
}

footer .nube-azul {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 8px #2b6263);
  filter: drop-shadow(0px 0px 8px #2b6263);
}

footer .nube-naranja {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 8px #ae7c72);
  filter: drop-shadow(0px 0px 8px #ae7c72);
}

@-webkit-keyframes floating-negative {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating-negative {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes floating-positive {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating-positive {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

footer .ilustracion {
  -webkit-animation: floating-positive 3s ease-in-out infinite;
          animation: floating-positive 3s ease-in-out infinite;
}

footer .peer-gynt {
  position: absolute;
  bottom: 25px;
  left: 160px;
  width: 35%;
  rotate: 10deg;
  -webkit-animation: floating-positive 3s ease-in-out infinite;
          animation: floating-positive 3s ease-in-out infinite;
}

footer .quijote {
  position: absolute;
  bottom: 350px;
  left: 30px;
  width: 35%;
  rotate: 90deg;
  -webkit-animation: floating-negative 3s ease-in-out infinite;
          animation: floating-negative 3s ease-in-out infinite;
}

footer .quijote2 {
  position: absolute;
  bottom: 125px;
  left: 50px;
  width: 35%;
  rotate: 10deg;
  -webkit-animation: floating-negative 3s ease-in-out infinite;
          animation: floating-negative 3s ease-in-out infinite;
}

footer .rapunzel {
  position: absolute;
  bottom: 280px;
  left: 230px;
  width: 25%;
  rotate: -5deg;
  -webkit-animation: floating-negative 3s ease-in-out infinite;
          animation: floating-negative 3s ease-in-out infinite;
}
/*# sourceMappingURL=main.css.map */