// Queries and page sizes

$maximum-width: 658px;

.icons-wrapper {
    background-color: #f9dbcf;
    margin-top: auto;
    z-index: 90;
}

@media (min-width: 1585px) {
    .header-wrapper::after {
        display: none;
    }
    header{ 
        h1 {
            font-size: 6rem !important;
        }
        h2 {
            font-size: 3rem !important;
        }
        .icons-wrapper {
            background-color: #f9dbcf;
            margin-top: auto;
            z-index: 90;
        }
        .icons {
            max-width: none;
        }

        .logo_banda {
            margin-top: 5px;
            height: 60px;
        }
    }
}


@media (min-width: 500px) {

    #mobile-body-wrapper {
        margin: 0 auto;
    }

    .limit-width {
        max-width: $maximum-width;
        margin: 0 auto;
    }

    header {
        h1 {
            font-size: 3rem;
        }
        #portada {
            @extend .limit-width;
        }
        .icons-wrapper {
            background-color: #f9dbcf;
            margin-top: auto;
            z-index: 90;
        }
        .icons {
            @extend .limit-width;   
        }

        .logo_banda {
            margin-top: 5px;
            height: 60px;
        }
        
    }
    main section {
        @extend .limit-width;
    }

    footer {
        .footer-wrapper {
            @extend .limit-width;
        }
    }


}